<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1> RPS Game ! </h1>
        <p>Player : <%= @player.name%></p>
      <h2>Choose your weapon: </h2>

      <form class="" action="/play" method="post">
        <input type="submit" name="option" value="rock">
        <input type="submit" name="option" value="paper">
        <input type="submit" name="option" value="scissors">
      </form>
  </body>
</html>
