<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPS Game!</title>
  </head>
  <body>

    <<h1>Rock - Paper - Scissors</h1>

    <form class="" action="/game" method="get">
      <label for="Player">Introduce your name: </label>
      <input type="text" name="player_name">

      <input type="submit" value="submit">
    </form>

  </body>
</html>
