<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>You choose <%= @game.player_choice %> !!</p>
    <div id="computer">
      <p>The opponent choose <%= @game.computer_choice%></p>
    </div>

    <div class="">
      <% if @game.resolution == "win"%>
      <p> You win the game!!</p>
      <% elsif @game.resolution == "lose"%>
      <p> You lose the game :C </p>
      <% elsif @game.resolution == "draw"%>
      <p>It a draw </p>
      <%end%>
    </div>
    
  </body>

</html>
