<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>You choose <%= @game.player_chooise %> !!</p>

    <p>The opponent choose <%= @game.computer_choise%></p>
  </body>
</html>
